<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>home</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="icon" href="/img/icon.png"/>
		<link rel="stylesheet" href="/css/typo.css"/>
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<% include sidebar.html %>
		<div class="container">
			<header class="contain-head">
                <h1>About</h1>
			</header>
			<p data-anchor-id="v4k9">就读于末流二本院校软件工程系大二 <br>
				喜欢 JS 和 后端 <br>
				不喜欢 CSS <br>
				喜欢执着于做一些奇怪的事情 <br>
				接触的东西不多但杂 <br>
				只是想做一个吐槽生活、记录学习的地方</p>
				<hr>
				<p data-anchor-id="vmrd">网站后端采用Node.js + express + mongoose + ejs 实现 <br>
					前端样式借鉴于<a href="https://github.com/nameoverflow/hexo-theme-icalm.git" target="_blank"> 一位大神的博客模板</a> <br><br>
					本人邮箱: 1587972770@qq.com</p>
			<footer> <small>Copyright © 2018 NewCaptain</small></footer>
			
		</div>

	</body>
</html>
