<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>home</title>
		<link rel="stylesheet" href="/css/typo.css"/>
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<% include sidebar.html %>
		<div class="container">
			<header class="contain-head">
                <h1><%= article.title %></h1>
			</header>
			<article>
				<%= article.content %>
			</article>
			<footer> <small>Copyright © 2018 NewCaptain</small></footer>
		</div>

	</body>
</html>
