<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>home</title>
		<link rel="stylesheet" href="/css/typo.css"/>
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<% include sidebar.html %>
		<div class="container">
			<header class="contain-head">
                <h1>发士大夫士大夫撒发射点</h1>
            </header>
			<footer> <small>Copyright © 2018 NewCaptain</small></footer>
		</div>

	</body>
</html>
