<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>home</title>
		<link rel="stylesheet" href="/css/typo.css"/>
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<% include sidebar.html %>
		<div class="container">
			<% include article-list.html %>
			<section class="paging">
				<nav>
					<% if(prebtn){%>
						<a  href="?page=<%=page-1%>">« prev</a>
					<% } %>
					&nbsp;&nbsp;&nbsp;<%= page %>&nbsp;&nbsp;/&nbsp;&nbsp;<%= pages %>&nbsp;&nbsp;&nbsp;
					<% if(nextbtn){%>
						<a  href="?page=<%=page+1%>">next »</a>
					<% } %>
				</nav>
			</section>
			<footer> <small>Copyright © 2018 NewCaptain</small></footer>
			
		</div>

	</body>
</html>
