
<!Doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<title> 请假系统后台管理 </title>
	<link href="/css/main.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-default">
	  	<div class="container-fluid">
		    <div class="navbar-header">
		      	<a class="navbar-brand" href="/home">后台管理</a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav">
		        	<li class="active"><a href="/home">主页</a></li>
		        	<li><a href="./addclass.html">添加班级</a></li>
		      	</ul>
			    <ul class="nav navbar-nav navbar-right">    
			    	<li><a href="javascript:void(0);">您好，管理员</a></li>
			    </ul>
		    </div>
	 	</div>
	</nav>
	<ol class="breadcrumb">
		<li><a href="/home">主页</a></li>
		<li class="active">修改</li>
	</ol>

	<div class="contain main"> 
		<div class="page-header">
	  		<h1><span>16软件1班</span>  <small>2016241331</small></h1>
		</div>
		<div class="input-group ">
		  	<span class="input-group-addon">辅导员ID</span>
		  	<input type="text" class="form-control"  id="teacherInput" placeholder="请输入辅导员ID" value="201624133135">
		</div>
		<div id="teacherInputMessage">
				<div class="alert alert-success " >ID: 201624133135 用户名: 杨玉孟</div>
				<div class="alert alert-danger hide" >未找到该用户 请输入 ...</div>
		</div>
		<div class="input-group ">
		  	<span class="input-group-addon" >班长ID</span>
		  	<input type="text" class="form-control" id="monitorInput" placeholder="请输入班长ID" value="201624133135">
		</div>
		<div id="monitorInputMessage">
			<div class="alert alert-success" >ID: 201624133135 用户名: 杨玉孟</div>
			<div class="alert alert-danger hide" >未找到该用户 请输入 ...</div>
		</div>
		<p class="text-danger hide">输入内容不能有空！</p>
		<button type="button" class="btn btn-primary" id="formSubmit">提交更改</button>
	</div>

	<div class="contain ">
		<div class="panel panel-success hide">
			<div class="panel-heading">提交信息</div>
		 	<div class="panel-body">
				更改成功! 3 秒后跳转, 请稍等 ...
			</div>
		</div>
		<div class="panel panel-danger hide">
			<div class="panel-heading">提交信息</div>
		 	<div class="panel-body">
				更改失败! 5 秒后跳转, 请稍等 ...
			</div>
		</div>	
	</div>


	<footer class="text-center">
		<hr/><h5> Copyright © ZQU-YIBANSTUDIO  </h5>
	</footer>

	
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/updateAPI.js"></script>
</body>
</html>

