.SideBar{
    width:240px;
    height:100%;
    position: fixed;
}
.container{
    width:60%;
    box-sizing: border-box;
    position: absolute;
    margin:0.5rem auto;
    left:240px;
    right:0;
}
.avatar{
    background:url(/img/VIX819CEJDET.jpg) no-repeat;
    background-size: 100% 100%;
    width:100%;
    height:160px;
    position:absolute;
}
.menu{
    position: absolute;
    top:260px;
    width:100%;
    font-weight:400;
}
.menu>div{
    text-align:center;
}
.menu-list{
    text-align:right;
}
.menu-list>li{
    margin:1.8rem 0;
}
.menu-list a{
    border-right: 3px #666 solid;
    color:#666;
    padding-right:1rem;
}
.menu-list a:hover{
    color:#0e0e0e;
    text-decoration: none;
}
.av-pic{
    background:url(/img/avpic.jpg) no-repeat;
    width:130px;
    height:130px;
    margin-top:95px;
    margin-left:auto;
    margin-right:auto;
    background-size:100%;
    border-radius: 50%;
}
.title{
    text-align: center;
}
.meta-list{
    margin:0.6em;
}
.meta-list ul,.meta-list li{
    display: inline-block;
    padding-left: 8px;
}
.article-list{
    margin-top: 5rem;
}
.article-list>article{
    margin-bottom:3.5em;
    margin-left: 0.7em;
    margin-right:0.7em;
}
.title a,.more a{
    color:#030303;
}
.paging,footer{
    /* margin:5rem 0 2rem; */
    margin:1.5em;
    text-align:center;
}

.archive{
    margin-left:20px;
    position:relative;
    padding-top:4rem;
}
.archive::before{
    content: "";
    height:auto;
    width:3px;
    top:0;
    bottom:0;
    position:absolute;
    left:-10px;
    background: #ddd;
}
.timeSection{
    padding-left:16px;
    margin:3.2rem auto;
}
.timeSection a{
    color:#0e0e0e;
}
.timeSection-list>.meta-list{
    margin-bottom:3rem;
}
.timeSection-list h2::before{
    width:8px;
    height:8px;
    background:#ddd; 
    position:absolute;
    border-radius: 50%;
    margin-top:11px;
    left: -13px;
    content:"";
}
.tags a{
    color: #030303;
}
.tags li{
    margin:1.8rem auto;
    text-align: center;
}
.contain-head{
    text-align: center;
    margin: 5em 0.7em 1.5em 0.7em;
}

@media screen and (max-width:1024px){
    
    .SideBar{
        position: absolute;
        width:auto;
        height:6em;
        left:0;
        right:0;
    }
    .menu{
        top:230px;
    }
    .menu-list{
        display: flex;
        justify-content: center;
        min-width: 280px;
    }
    .menu-list a{
        border:none;
        padding-right:0;
        margin-left:1.0em;
        margin-right:1.0em;
    }
    .container{
        width:auto;
        box-sizing: border-box;
        position: absolute;
        margin-left:0.7em;
        margin-right:0.7em;
        top:360px;
        left:0;
        right:0;
    }
}
